body {
    font-family: sans-serif;
    font-size: 62.5%;
    background-color: wheat;
    margin: 0;
}
header {
    display: flex;
    font-size: 62.5%;
    height: 55px;
    background-color: salmon;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
}
.logo {
    display: flex;
    justify-items: center;
}
.logo img {
    height: 50px;
}
.circle {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
}
.name {
    font-size: 7em;
    font-style: italic;
    font-weight: bold;
    color: white;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 62.5%;
}
.lateral-left, .lateral-right {
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: brown;
    gap: 10px;
    margin: 10px;
    margin-top: 10px;
}
.lateral-left img, .lateral-right img {
    width: 100%;
    height: auto;
}
.main-notice {
    flex: 1;
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;  
}
.notice img {
    width: 370px;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
}
.title {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3.5em;
}
.theme {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    font-size: 2.8em;
}
.text {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
}
footer {
    display: flex;
    font-size: 62.5%;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    gap: 10px;
    
}
.contact {
    font-size: 2.5em;
    color: blueviolet;
    font-weight: bold;
}
.contact:active {
    color: cyan;
}
.contact:hover {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}