* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
}

body {
    background-color: wheat;
    font-family: "Poppins", sans-serif;
}
header {
    width: 100vw;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 62,5%;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name {
    font-weight: 900;
    font-style: italic;
    font-size: 1.8em;
    color: white;
}
.special-buttons {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 10px;
    justify-content: center;
}
.contacto {
    font-weight: 500;
    font-style: italic;
    font-size: 0.4em;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5px 10px;
}

.contacto:hover {
    color: white;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 100px auto;
    padding: 20px;
    padding-top: 20px;
    max-width: 90%;
}
.photos {
    padding-top: 10px;
    padding: 10px 10px;
}
.person {
    height: 130px;
    width: 130px;
    border-radius: 100px;
    padding: 10px 10px;
}
.l-title {
    font-size: 1.4em;
}
.position {
    font-weight: 700;
    font-size: 1em;
}
.descript {
    font-size: 0.8em;
}
@media (min-width:768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 50px;
    }
    .name {
        font-size: 3em;
    }
    .special-buttons{
        margin-top: 0;
    }
    .contacto {
        font-size: 1em;
        padding: 8px 15px;
    }
    .cuerpo {
        max-width: 70%;
        padding-top: 10px;
    }
    .photos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 90%;
    }
}