* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
}

body {
    background-color: #f9f4ed;
    font-family: "Poppins", sans-serif;
}
header {
    width: 100vw;
    width: 100%;
    background-color: #af695c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 62,5%;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name {
    font-weight: 900;
    font-style: italic;
    font-size: 1.8em;
    color: white;
}
.special-buttons {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 10px;
    justify-content: center;
}
.contacto {
    font-weight: 500;
    font-style: italic;
    font-size: 0.4em;
    text-decoration: none;
    color: #eaeaea;
    text-align: center;
    padding: 5px 10px;
}

.contacto:hover {
    color: white;
}
.cuerpo {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.title{
    font-size: 1.5em;
    font-weight: 800;
    font-style: italic;
}
.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.photo {
    height: 50px;
    border-radius: 40px;
    padding: 10px;
}
.coments {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 10px;
    margin-bottom: 10px;
    background-color: #eaeaea;
}
.account {
    font-weight: 700;
    color: rgba(20, 20, 19, 0.555);
}
.coments-box{
    padding: 10px;
}
.cta {
    font-weight: 600;
    font-style: italic;
    font-size: 62,5%;
    font-size: 1.2em;
}
textarea {
    width: 100%;
    max-width: 799px;
    height: 90px;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    resize: vertical;
    background-color: white;
}
.btn {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color: #af695c;
    color: white;
}
@media (min-width:800px) {
    header {
        height: auto;
        width: 100vw;
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    .name {
        text-align: left;
        font-size: 3em;
    }
    .circle {
        height: 50px;
        width: 50px;
    }
    .logo img {
        height: 50px;
    }
    .contacto {
        font-size: 62,5%;
        font-size: 0.8em; 
        gap: 10px;
        padding: 10px;
    }
    .logo {
        justify-content: flex-start;
        padding-left: 20px;
    }
    .speciall-buttons  {
        justify-content: flex-end;
        gap: 40px;
        padding: 20px;
        font-size: 1.2em;
    }
    .cuerpo {
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px auto 50px auto;
        padding: 10px;
        margin-top: 140px;
    }
    .title {
        margin-bottom: 30px;
        font-size: 3em;
    }
    .coments-box {
        display: flex;
        flex-direction: column;
        max-width: 800px;
    }
    .cta {
        font-size: 2em;
        margin-bottom: 20px;
        display: flex;
        justify-content: left;
        align-items: start;
        text-align: left;
        padding-top: 20px;
    }
    textarea {
        width: 100%;
        width: 780px;
        max-width: 900px;
        height: 150px;
        font-size: 1.2em;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid black;
    }
    .btn {
        max-width: 800px;
        width: 550px;
        height: 40px;
        border-radius: 10px;
    }
}