body {
    font-size: 62.5%;
    background-color: wheat;
    margin: 0;
}
header {
    display: flex;
    font-size: 62.5%;
    width: 100%;
    height: auto;
    background-color: salmon;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    margin-right: 0;
    
}
.contacto {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-weight: 500;
    font-style: italic;
    font-size: 2.2em;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5px 10px;
    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo img {
    height: 50px;
}
.circle {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
}
.name {
    font-size: 7em;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
}
.title-section {
    display: flex;
    justify-content: center;
    align-items: left;
    color: orangered;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 62.5%;
    font-size: 4.5em;
    margin: 0;
    text-decoration: underline;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 62.5%;
}
.lateral-left, .lateral-right {
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: brown;
    gap: 10px;
    margin: 10px;
    margin-top: 10px;
}
.lateral-left img, .lateral-right img {
    width: 100%;
    height: auto;
}
.main-notice {
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;  
}
.notice img {
    width: 370px;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.title {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 3.5em;
}
.theme {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    font-style: normal;
    color: grey;
    font-size: 2.8em;
}
.text {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2em;
}
footer {
    display: flex;
    font-size: 62.5%;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    gap: 10px;
    margin: 10px;
    
}
.contact {
    font-size: 2.5em;
    color: blueviolet;
    font-weight: bold;
}
.contact:active {
    color: cyan;
}
.contact:hover {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.sections {
    background-color: burlywood;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
    color: black;
    gap: 10px;
    padding: 10px 20px;
}

    
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    align-items: center;
}
.sections:active {
    color: purple;
}
.sections:hover {
    color: white;
}
@media (max-width: 768px) {
    .lateral-left, .lateral-right {
        display: none;
    }
    header {
        width: auto;
        height: auto;
    }
    .section {
        margin: 10px;
    }
    .main-notice {
        grid-template-columns: 1fr;
        margin: auto;
    }
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .sections {
        width: 80%;
        min-width: 150px;
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 10px 20px;
    }
    .title-section {
        font-size: auto;
    }
}
