.main-notice {
    grid-template-columns: 1fr;
    margin: auto;
}
.title-section {
    display: flex;
    justify-content: center;
    align-items: left;
    color: #2a2a2a;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 62.5%;
    font-size: 3.5em;
    margin: 0;
    text-decoration: underline;
}
.title-sections {
    font-style: italic;
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    text-align: center;
}
.notice img {
    width: auto;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}
a{
    color: #ec9484;
}
@media (min-width: 800px) {
    .main-notice {
        max-width: 800px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;  
    }
    .notice img {
        width: 370px;
        max-width: 400px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .title {
        font-size: 62.5%;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
        font-size: 1.5em;
    }
    .theme {
        font-size: 62.5%;
        font-family: "Poppins", sans-serif;
        font-weight: 550;
        font-style: normal;
        color: #ec9484;
        font-size: 1.1em;
    }
    .text {
        font-size: 62.5%;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1em;
    }
    .title-sections {
        display: flex;
        justify-content: center;
        align-items: left;
        color: #2a2a2a;
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 62.5%;
        font-size: 4.5em;
        margin: 0;
        text-decoration: underline;
    }

}
