* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
}

body {
    background-color: wheat;
    font-family: "Poppins", sans-serif;
}
header {
    width: 100vw;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 62,5%;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name {
    font-weight: 900;
    font-style: italic;
    font-size: 1.8em;
    color: white;
}
.special-buttons {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 10px;
    justify-content: center;
}
.contacto {
    font-weight: 500;
    font-style: italic;
    font-size: 0.4em;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5px 10px;
}

.contacto:hover {
    color: white;
}
.cuerpo {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
form {
    margin: 20px auto;
    padding: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0,1);
    border-radius: 30px;
    text-align: center;
    width: 90%;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 62,5%;
    font-size: 0.7em;
}
.information-packages {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.title {
    font-size: 62,5%;
    color: cornflowerblue;
    font-size: 2em;
}
label {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.3em;
}
input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid black;
    color: black;
    outline: none;
}
input::placeholder, textarea::placeholder {
    color: grey;
    font-weight: 500;
}
.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-txt a {
    color: #76b28e;
    font-size: 1.4em;
    font-weight: 600;
    text-decoration: none;
}
.btn {
    font-weight: bold;
}
.btn:hover {
    background-color: white;
}
@media (min-width:800px) {
    header {
        height: auto;
        width: 100vw;
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    .cuerpo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100vh;
        margin-top: 280px;
        margin-left: 290px;
        margin-bottom: 200px;
    }
    .name {
        text-align: left;
        font-size: 3em;
    }
    .circle {
        height: 50px;
        width: 50px;
    }
    .logo img {
        height: 50px;
    }
    .contacto {
        font-size: 62,5%;
        font-size: 0.8em; 
        gap: 10px;
        padding: 10px;
    }
    .logo {
        justify-content: flex-start;
        padding-left: 20px;
    }
    .speciall-buttons  {
        justify-content: flex-end;
        gap: 40px;
        padding: 20px;
        font-size: 1.2em;
    }
    input {
        font-size: 62,5%;
        font-size: 1.2em;
    }
    label {
        font-size: 62,5%;
        font-size: 1.4em;
    }
    .title {
        font-size: 62,5%;
        font-size: 3em;
        font-weight: 900;
    }
    .form-txt{
        font-size: 62,5%;
        font-size: 1.4em;
    }
    #message {
        font-size: 62,5%;
        font-size: 1.4em;
    }
}