* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
}

body {
    background-color: #f9f4ed;
    font-family: "Poppins", sans-serif;
}
header {
    width: 100vw;
    background-color: #af695c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 62,5%;
    
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
a {
    text-decoration: none;
    
}
.logo img {
    height: 50px;
}
.section{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    border-radius: 10px;
}
.circle {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name {
    font-weight: 900;
    font-style: italic;
    font-size: 1.8em;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.special-buttons {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 10px;
    justify-content: center;
}
.contacto {
    font-weight: 500;
    font-style: italic;
    font-size: 0.4em;
    text-decoration: none;
    color: #eaeaea;
    text-align: center;
    padding: 5px 10px;
}

.contacto:hover {
    color: white;
}
.lateral-left, .lateral-right {
    display: none;
}
.container {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 800px) {

    .lateral-left, .lateral-right {
        width: 250px;
        display: flex;
        flex-direction: column;
        background-color: #eaeaea;
        gap: 15px;
        margin: 10px;
        margin-top: 10px;
    }
    .lateral-left img, .lateral-right img {
        width: 95px;
        height: 380px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    header {
        height: auto;
        width: 100vw;
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    .name {
        text-align: left;
        font-size: 3em;
    }
    .circle {
        height: 50px;
        width: 50px;
    }
    .logo img {
        height: 50px;
    }
    .contacto {
        font-size: 62,5%;
        font-size: 0.8em; 
        gap: 10px;
        padding: 10px;
    }
    .logo {
        justify-content: flex-start;
        padding-left: 20px;
    }
    .speciall-buttons  {
        justify-content: flex-end;
        gap: 40px;
        padding: 20px;
        font-size: 1.2em;
        display: flex;
    }
    header {
        width: 100%;
        height: auto;
    }
    .cuerpo-de-noticias {
        grid-template-columns: 1fr;
        margin: auto;
    }
    .section {
        display: flex;
        flex-direction: row;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: 20px;
        margin-top: 130px;
    }
    .sections {
        width: 80%;
        min-width: 150px;
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 10px 20px;
    }
    .title-section {
        font-size: 4em;
        text-align: center;
    }
}
    
